parameters:
    reportUnmatchedIgnoredErrors: false
    level: 8

    excludePaths:
        - app/Model/BaseRepository.php

    fileExtensions:
        - php

    ignoreErrors:
        -
            message: "#^Property App\\\\Model\\\\Employer\\\\Employer\\:\\:\\$age is never read, only written\\.$#"
            count: 1
            path: app/Model/Employer/Employer.php

        -
            message: "#^Property App\\\\Model\\\\Employer\\\\Employer\\:\\:\\$fullName is never read, only written\\.$#"
            count: 1
            path: app/Model/Employer/Employer.php

        -
            message: "#^Property App\\\\Model\\\\Employer\\\\Employer\\:\\:\\$gender is never read, only written\\.$#"
            count: 1
            path: app/Model/Employer/Employer.php

        -
            message: "#^Property App\\\\Model\\\\Employer\\\\Employer\\:\\:\\$id is never read, only written\\.$#"
            count: 1
            path: app/Model/Employer/Employer.php

includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon